<div class="formatter-container">
  <!-- Input -->
  <div class="section">
    <label for="inputCode">Input Code</label>
    <textarea
      id="inputCode"
      [(ngModel)]="rawInput"
      (input)="autoResize($event)"
      placeholder="Paste your raw code here..."
    ></textarea>
  </div>

  <!-- Output -->
  <div class="section">
        <button class="btn btn-info copy"(click)="copyFormattedOutput()">{{ copied ? 'Copied' : 'Copy' }}</button>
    <label for="outputCode">Output Code</label>

    <textarea
      id="outputCode"
      [(ngModel)]="formattedOutput"
      readonly
      placeholder="Copy your formatted code here..."
    ></textarea>
  </div>
</div>

<!-- Format Button -->
<div class="btn-wrapper">
  <button class="format-btn" class="btn btn-success"(click)="formatContent()">Format</button>
</div>