.formatter-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background-color: #cce0ff; /* light blue background */
  padding: 20px;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  min-height: 700px;
  max-height: 700px;
  resize: none; /* Disable vertical resize to keep sizes equal */
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  white-space: pre-wrap;
  background-color: #fff;
}

.btn-wrapper {
  text-align: center;
  margin-top: 15px;
}

.format-btn {
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}

.copy {
  color: white;
  border: none;
  border-radius: 4px;
  width: 75px;
  position: absolute;
  right: 20px;
  top: 128px;
}

.copy-button-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.copy-btn {
  padding: 6px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.copy-btn:hover {
  background-color: #0056b3;
}

.copied-text {
  color: green;
  font-size: 14px;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}