<nav class="menu-bar">
  <ul>
    <li class="logo">
      <i class="fas fa-toolbox"></i>
      <span class="project-name">Formattica</span>
    </li>
    <li class="home-icon">
      <a routerLink="/admin/home" title="Home">
        <i class="fas fa-home"></i>
      </a>
    </li>
    <li><a routerLink="/admin/compressor">Compressor</a></li>
    <li><a routerLink="/admin/conversion">Conversion</a></li>
    <li><a routerLink="/admin/comparison/codeComparision">Comparison</a></li>
    <li><a routerLink="/admin/formatter/formattertool">Formatter</a></li>
  </ul>
</nav>
