<form [formGroup]="compareForm" (ngSubmit)="compareCode()" class="input-form">
  <!-- <div class="form-header">
    <label for="formatType">Select Comparison Type:</label>
    <select id="formatType" formControlName="comparisonType">
      <option value="code">Code</option>
      <option value="text">Text</option>
    </select>
  </div> -->
  <!-- Diff Output -->
  <div class="code-header">
    <span class="removals">Original text</span>
    <span class="additions">Changed text</span>
  </div>
  <div
    class="diff-container"
    *ngIf="oldCodeLines.length || newCodeLines.length"
  >
    <div class="diff-body">
      <div class="diff-row" *ngFor="let idx of getMaxLines()">
        <div class="code-cell">
          <ng-container
            *ngIf="oldCodeLines[idx]?.segments.length; else emptyOld"
          >
            <span
              *ngFor="let seg of oldCodeLines[idx].segments"
              [ngClass]="{
                removed: seg.type === 'removed',
                unchanged: seg.type === 'unchanged'
              }"
              [innerHTML]="formatText(seg.text)"
            >
            </span>
          </ng-container>
          <ng-template #emptyOld
            ><span class="empty-line">&nbsp;</span></ng-template
          >
        </div>

        <div class="code-cell">
          <ng-container
            *ngIf="newCodeLines[idx]?.segments.length; else emptyNew"
          >
            <span
              *ngFor="let seg of newCodeLines[idx].segments"
              [ngClass]="{
                removed: seg.type === 'removed',
                unchanged: seg.type === 'unchanged',
                added: seg.type === 'added'
              }"
              [innerHTML]="formatText(seg.text)"
            >
            </span>
          </ng-container>
          <ng-template #emptyNew
            ><span class="empty-line">&nbsp;</span></ng-template
          >
        </div>
      </div>
    </div>
  </div>

  <div class="textareas">
    <div class="textarea-block">
      <label for="oldCode">Original text</label>
      <textarea
        id="oldCode"
        formControlName="oldCode"
        placeholder="Enter old code..."
        [disabled]="comparisonDone"
      ></textarea>
    </div>

    <div class="textarea-block">
      <label for="newCode">Changed text</label>
      <textarea
        id="newCode"
        formControlName="newCode"
        placeholder="Enter new code..."
        [disabled]="comparisonDone"
      ></textarea>
    </div>
  </div>

  <div class="buttons">
    <button type="submit">Compare</button>
    <button
      type="button"
      class="clear-btn"
      *ngIf="hasTextToClear"
      (click)="clear()"
    >
      Clear
    </button>
  </div>
</form>
