<div class="card-grid">
    <div class="card" routerLink="/admin/compressor">
      <h3>Compressor</h3>
      <p>Compress your documents</p>
    </div>
    <div class="card" routerLink="/admin/conversion">
      <h3>Conversion</h3>
      <p>Convert between formats</p>
    </div>
    <div class="card" routerLink="/admin/comparison/codeComparision">
      <h3>Comparison</h3>
      <p>Compare code files</p>
    </div>
    <div class="card" routerLink="/admin/formatter/formattertool">
      <h3>Formatter</h3>
      <p>Format your JSON or XML</p>
    </div>
  </div>
  